// Há mais funções no BasicWP caso precise
// Paletas de cores 
$branco: #ffffff;
$preto: #000000;  

// Quebras
$breakpoints: (
    "xs-425":   426px,
    "xs-445":   445px,
    "xs-535":   535px,
    "xs-635":   635px,
    "xs-767":   767px,
    "tablet":   992px,
    "notebook": 1200px,
    "desktop":  1920px
);

//| Placeholders de Apoio 

// Transforma elemento em um círculo perfeito
%circle{
    border-radius: 50%;
}
// Alinha horizontalmente o elemento
%center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Mixins de Apoio
// Obs.: Caso nã queira enviar algum parâmetro, envie false no lugar

// Coloca $width e $height no elemento, juntos ou individualmente
@mixin dimensao( $w : false , $h: false ){
    
    @if $w { width: $w; } 
    @if $h { height: $h; } 

}

// Alinha o elemento verticalmente de acordo com o $width do elemento
@mixin centroVertical($w){
    left: 50%;
    margin-left: calc( -#{$w}/2 );
}

// Faz a quebra de um elemento
// Parâmetros: $width -> quebra(precisa estar no array de quebras lá no início) e $type -> min ou max
@mixin midia-querys($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Para elementos textuais, adiciona uma ou várias propriedades 
@mixin texto( $font-family:false, $size: false, $colour: false, $weight: false,  $lh: false, $ls: false) {
    @if $font-family { font-family: $font-family; } 
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ls { letter-spacing: $ls}
}

// Adiciona um font-face 
@mixin font($font-family, $font-file, $font-extension) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+$font-extension);
    font-weight: normal;
    font-style: normal;
  }
}

//Classes de apoio
.p-0{
    @include pad(0px);
}

.full-w{
    @include dimensao(100%);
}

.full-h{
    @include dimensao(false,100%);
}

.text-preto{
    @include font-source-sans(false, false, $preto );
}
.text-branco{
    @include font-source-sans(false, false, $branco );
}

.bg-preto{
    background-color: $preto;
}
.bg-branco{
    background-color: $branco;
}

.pointer{
    cursor: pointer;
}
